@charset "UTF-8";

@font-face {
	font-family: 'iconfont';
  src: url('https://at.alicdn.com/t/font_pveudgy3v0ee9udi.eot');
  src: url('https://at.alicdn.com/t/font_pveudgy3v0ee9udi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_pveudgy3v0ee9udi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_pveudgy3v0ee9udi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_pveudgy3v0ee9udi.svg#iconfont') format('svg');
}

@font-face {
	font-family: 'thinfont-thin';
src:url('thinfont-thin.ttf') format('truetype');
}

.button,.button:after,.button:before {
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.button:after,.button:before {
	content: '';
	position: absolute;
	z-index: -1;
	background: #5f4e9e;
	border-color: #5f4e9e;
	color: #5f4e9e;
}

.button {
	z-index: 1;
	background: transparent;
	text-decoration: none;
	font-size: 1em;
	color: #5f4e9e;
	text-align: center;
	position: relative;
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	outline: none;
	overflow: hidden;
	border: 2px solid currentColor;
}

.button:link,[class*=f-]:visited {
	text-decoration: none;
}

.button:hover {
	text-decoration: none;
	color: #fff;
	border: 2px solid transparent;
}

.button:active {
	text-decoration: none;
	background: #5f4e9e;
}
[class*=Flower]:hover {
	color: #5f4e9e;
	border: 2px solid #5f4e9e;
}
[class*=icon] {
	font-family: 'iconfont';
	background: #5f4e9e;
	font-size: 2em;
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 51px;
	border: none;
	border-radius: 50%;
}
[class*=icon]:hover {
	border: none;
}
[class*=-min] {
	font-size: .7em;
	width: 90px;
	height: 30px;
	line-height: 30px;
}
[class*=-max] {
	font-size: 1.2em;
	width: 150px;
	height: 50px;
	line-height: 50px;
}
[class*=gr-blue] {
	color: #1A8CE4;
}
[class*=gr-blue]:after {
	background: -webkit-linear-gradient(to right, #1ADEE4 , #1A8CE4);
	background: linear-gradient(to right, #1ADEE4 , #1A8CE4);
}
[class*=gr-blue]:active {
	background: #1ADEE4;
}
[class*=gr-pink] {
	color: #FFADDC;
}
[class*=gr-pink]:after {
	background: -webkit-linear-gradient(to right, #FFC6DC , #FF74DC);
	background: linear-gradient(to right, #FFC6DC , #FF74DC);
}
[class*=gr-pink]:active {
	background: #FFC6DC;
}
[class*=gr-orange] {
	color: #f35626;
}
[class*=gr-orange]:after {
	background: -webkit-linear-gradient(to right, #feab3a , #f35626);
	background: linear-gradient(to right, #feab3a , #f35626);
}
[class*=gr-orange]:active {
	background: #feab3a;
}
[class*=gr-green] {
	color: #00FF57;
}
[class*=gr-green]:after {
	background: -webkit-linear-gradient(to right, #70FFBE , #00FF57);
	background: linear-gradient(to right, #70FFBE , #00FF57);
}
[class*=gr-green]:active {
	background: #70FFBE;
}
[class*=gr-black] {
	color: #000000;
}
[class*=gr-black]:after {
	background: -webkit-linear-gradient(to right, #B2B2B2 , #000000);
	background: linear-gradient(to right, #B2B2B2 , #000000);
}
[class*=gr-black]:active {
	background: #B2B2B2;
}
[class*=gr-red] {
	color: #FF0000;
}
[class*=gr-red]:after {
	background: -webkit-linear-gradient(to right, #FF8484 , #FF0000);
	background: linear-gradient(to right, #FF8484 , #FF0000);
}
[class*=gr-red]:active {
	background: #FF8484;
}
[class*=inLeft]:after {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}
[class*=inLeft]:hover:after {
	width: 100%;
}
[class*=inUp]:after {
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
}
[class*=inUp]:hover:after {
	height: 100%;
}
[class*=inRight]:after {
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
}
[class*=inRight]:hover:after {
	width: 100%;
}
[class*=inDown]:after {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
}
[class*=inDown]:hover:after {
	height: 100%;
}
[class*=inupLeft]:after {
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}
[class*=inupLeft]:hover:after {
	width: 100%;
	height: 100%;
}
[class*=inupRight]:after {
	top: 0;
	right: 0;
	width: 0;
	height: 0;
}
[class*=inupRight]:hover:after {
	width: 100%;
	height: 100%;
}
[class*=indownLeft]:after {
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
}
[class*=indownLeft]:hover:after {
	width: 100%;
	height: 100%;
}
[class*=indownRight]:after {
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
}
[class*=indownRight]:hover:after {
	width: 100%;
	height: 100%;
}
[class*=cloBetween]:before,[class*=cloBetween]:after {
	width: 0;
	height: 0;
	top: 0;
}
[class*=cloBetween]:before {
	left: 0;
}
[class*=cloBetween]:after {
	right: 0;
}
[class*=cloBetween]:hover:before,[class*=cloBetween]:hover:after {
	width: 50%;
	height: 100%;
}
[class*=cloAngle]:before,[class*=cloAngle]:after {
	width: 0;
	height: 0;
	background: transparent;
	border-width: 0;
	border-style: solid;
}
[class*=cloAngle]:before {
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	bottom: 0;
	left: 0;
}
[class*=cloAngle]:after {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	top: 0;
	right: 0;
}
[class*=cloAngle]:hover:before {
	border-width: 200px 0 0 200px;
}
[class*=cloAngle]:hover:after {
	border-width: 0 200px 200px 0;
}
[class*=cloTangent]:after,[class*=cloTangent]:before {
	width: 0;
	height: 0;
	background: transparent;
	border-style: solid;
	border-width: 0;
}
[class*=cloTangent]:after {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	top: 0;
	right: 0;
}
[class*=cloTangent]:before {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	bottom: 0;
	left: 0;
}
[class*=cloTangent]:hover:after,[class*=cloTangent]:hover:before {
	border-width: 50px 200px;
}
[class*=cloX]:after,[class*=cloX]:before {
	top: 0;
	width: 0;
	height: 100%;
}
[class*=cloX]:before {
	right: 0;
}
[class*=cloX]:after {
	left: 0;
}
[class*=cloX]:hover:after,[class*=cloX]:hover:before {
	width: 50%;
}
[class*=cloY]:after,[class*=cloY]:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
}
[class*=cloY]:after {
	top: auto;
	bottom: 0;
}
[class*=cloY]:hover:after,[class*=cloY]:hover:before {
	height: 50%;
}
[class*=Roll]:before {
	width: 0;
	height: 0;
	bottom: -100%;
	left: -100%;
	border-radius: 50%;
}
[class*=Roll]:hover:before {
	width: 360px;
	height: 360px;
}
[class*=Ball]:after {
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	-webkit-transition: width 1s,height 1s;
	transition: width 1s,height 1s;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
[class*=Ball]:hover:after {
	width: 400px;
	height: 400px;
}

@keyframes elastic-first {
	0% {
		top: 0%;
		left: 50%;
	}

	50% {
		left: 50%;
		top: 100%;
		width: 20px;
		height: 20px;
	}

	70% {
		left: 50%;
		top: 10%;
		width: 20px;
		height: 20px;
	}

	100% {
		left: 50%;
		top: 50%;
		width: 200px;
		height: 200px;
	}
}

@-webkit-keyframes elastic-first {
	0% {
		top: 0%;
		left: 50%;
	}

	50% {
		left: 50%;
		top: 100%;
		width: 20px;
		height: 20px;
	}

	70% {
		left: 50%;
		top: 10%;
		width: 20px;
		height: 20px;
	}

	100% {
		left: 50%;
		top: 50%;
		width: 200px;
		height: 200px;
	}
}
[class*=Elastic]:after {
	left: 50%;
	bottom: 20%;
	border-radius: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
[class*=Elastic]:hover:after {
	-webkit-animation: elastic-first 1s both;
	animation: elastic-first 1s both;
}

@keyframes Schedule {
	0% {
		width: 0;
		height: 3px;
	}

	50% {
		width: 100%;
		height: 3px;
	}

	100% {
		width: 100%;
		height: 100%;
	}
}

@-webkit-keyframes Schedule {
	0% {
		width: 0;
		height: 3px;
	}

	50% {
		width: 100%;
	}

	100% {
		height: 100%;
	}
}
[class*=Schedule]:after {
	width: 0;
	height: 2px;
	left: 0%;
}
[class*=Schedule]:hover:after {
	-webkit-animation: Schedule .7s both;
	animation: Schedule .7s both;
}

@keyframes AcrossX {
	0% {
		width: 0;
		height: 3px;
	}

	50% {
		width: 100%;
		height: 3px;
	}

	100% {
		width: 100%;
		height: 3px;
	}
}

@-webkit-keyframes AcrossX {
	0% {
		width: 0;
		height: 3px;
	}

	50% {
		width: 100%;
		height: 3px;
	}

	100% {
		width: 100%;
		height: 3px;
	}
}

@keyframes AcrossY {
	0% {
		width: 3px;
		height: 0;
	}

	50% {
		width: 3px;
		height: 100%;
	}

	100% {
		width: 100%;
		height: 100%;
	}
}

@-webkit-keyframes AcrossY {
	0% {
		width: 3px;
		height: 0;
	}

	50% {
		width: 3px;
		height: 100%;
	}

	100% {
		width: 100%;
		height: 100%;
	}
}
[class*=Across]:before {
	width: 0;
	height: 3px;
	top: 50%;
	left: 0%;
	transform: translate(0,-50%);
}
[class*=Across]:hover:before {
	-webkit-animation: AcrossX .7s both;
	animation: AcrossX .7s both;
}
[class*=Across]:after {
	width: 3px;
	height: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
[class*=Across]:hover:after {
	-webkit-animation: AcrossY .7s both;
	animation: AcrossY .7s both;
}
[class*=AlternateX]:before,[class*=AlternateX]:after {
	width: 0;
	height: 50%;
}
[class*=AlternateX]:before {
	top: 50%;
	right: 0;
}
[class*=AlternateX]:after {
	top: 0;
	left: 0;
}
[class*=AlternateX]:hover:before,[class*=AlternateX]:hover:after {
	width: 100%;
}
[class*=AlternateY]:before,[class*=AlternateY]:after {
	width: 50%;
	height: 0;
}
[class*=AlternateY]:before {
	top: 0;
	left: 0;
}
[class*=AlternateY]:after {
	bottom: 0;
	right: 0;
}
[class*=AlternateY]:hover:before,[class*=AlternateY]:hover:after {
	height: 100%;
}

@keyframes Rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes Rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
[class*=Flower]:before,[class*=Flower]:after {
	font-family: 'iconfont';
	content: "\e602";
	width: 100%;
	height: 100%;
	background: transparent;
}
[class*=Flower]:before {
	font-size: 300%;
	top: -150%;
	left: -40%;
}
[class*=Flower]:after {
	font-size: 200%;
	top: 100%;
	left: 40%;
}
[class*=Flower]:hover:before,[class*=Flower]:hover:after {
	-webkit-animation: Rotate 6s 0s infinite linear;
	animation: Rotate 6s 0s infinite linear;
}
[class*=Flower]:hover:before {
	top: -20%;
	left: -40%;
}
[class*=Flower]:hover:after {
	top: 30%;
	left: 40%;
}
[class*=Flower]:active {
	color: #fff;
}

@-webkit-keyframes iconFlip {
	0% {
		transform: rotateY(0deg);
	}

	50% {
		transform: rotateY(180deg);
	}

	100% {
		transform: rotateY(360deg);
	}
}

@keyframes iconFlip {
	0% {
		transform: rotateY(0deg);
	}

	50% {
		transform: rotateY(180deg);
	}

	100% {
		transform: rotateY(360deg);
	}
}
[class*=iconFlip]:hover {
	-webkit-animation: iconFlip .7s both;
	animation: iconFlip .7s both;
}
[class*=iconRotate]:hover {
	-webkit-animation: Rotate .7s both;
	animation: Rotate .7s both;
}
